/.classpath
/.project
/.dbeaver/
/.settings/
/.idea/

*.env
*.iml

/public/
/target/

/build/dependencies/
/build/app/
/build/mvn-repo/
/build/kaniko/

*.vault-token
*.image-version
*.inventory.json
/ansible/mount/
/ansible/inventory/group_vars/
/ansible/inventory/host_vars/
/ansible/secrets/
/ansible/ssh/
# In ssh dir, but just to be explicit:
id_ed25519
/ansible/.vagrant/

/.tools/
