# Docker image tag for the container image to be deployed
IMAGE_VERSION=

# Data directory on the Docker host
DATA_DIR=/data/bmd-dataspace-api

# Fully qualified domain name for the REST API:
FQDN=

# AWS credentials:
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Anything you want to pass on to the JVM
JAVA_TOOL_OPTIONS=-Xms1024m -Xmx1024m

# Log level for eu.bmdproject.dataspace code:
APP_LOG_LEVEL=INFO
# Log level for other code:
DEFAULT_LOG_LEVEL=ERROR

# Will in practice always be 0.0.0.0. Just in case we ever want to
# make Traefik list on a particular IP address
HOST_IP=0.0.0.0
