# env file for local Ansible deployments. Copy to deploy.env and
# modify as appropriate. Note that this it is about deploying _from_
# your local machine, not about deploying _to_ your local machine.
# It enables you to execute an Ansible deployment as if inside the
# GitLab pipeline defined in .gitlab-ci.yml.

export VAULT_SERVER_URL=
export VAULT_PATH=bii/bmd

# Specify one of the hosts defined in ansible/inventory/hosts.yml
export DEPLOY_HOST=dev

export CI_REGISTRY=registry.gitlab.com
export CI_REGISTRY_IMAGE=registry.gitlab.com/naturalis/bii/bmd/bmd-dataspace-api
export CI_REGISTRY_USER=
# Your GitLab access token:
export CI_REGISTRY_PASSWORD=

# Download URL for HC Vault CLI. If not installed already, a local installation
# in this repository's .tools directory is executed
export VAULT_CLI_DOWNLOAD_URL=https://releases.hashicorp.com/vault/1.21.1/vault_1.21.1_linux_amd64.zip

# Download URL for jq. If not installed already, a local installation in this
# repository's .tools directory is executed
export JQ_DOWNLOAD_URL=https://github.com/jqlang/jq/releases/download/jq-1.8.1/jq-linux-amd64

# Optionally specify the tag of the Docker image to be deployed. If not
# set, the image version will be computed by export-image-version.sh
export IMAGE_VERSION=
